<html>
  <head>
    <title>Main</title>
<!--    <link rel="stylesheet" type="text/css" href="css/style.css">-->
  </head>
  <body>
    <div>
      <h2>Todo List</h2>
      <input type="text" id="title" placeholder="title">
      <input type="test" id="content" placeholder="content">
      <span onclick="new todo()" class="add">Add</span>
    </div>
  </body>
</html>
